Найти:
<input ng-model="myQuery" type="text"><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="name">Имени по возрастанию</option>
    <option value="weight">Весу по возрастанию</option>
    <option value="-name">Имени по убыванию</option>
    <option value="-weight">Весу по убыванию</option>
    <option value="height">Росту</option>
</select>

Фильтровать по типу:
<select ng-model="search.type">
    <option value="">All</option>
    <option  ng-repeat="type in types" value="{{type}}">{{type}}</option>
</select>

<ul>
    <li ng-repeat="pokemon in filteredPokemons | orderBy: myOrderProperty">
        <img src="{{pokemon.ThumbnailImage}}" ng-click="showName(pokemon)">

        <small>ID #{{pokemon.id }}</small>
        <h1 class = "{{typeClass(pokemon.type)}}">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>
